In [1]:
from sklearnex import patch_sklearn
patch_sklearn()

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [2]:
import string
import re
import nltk
import pandas as pd
import numpy as np
from nltk.util import pr
# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.model_selection import train_test_split
# from sklearn.tree import DecisionTreeClassifier
from nltk.corpus import stopwords
stemmer = nltk.SnowballStemmer("english")
nltk.download('stopwords')
stopword=set(stopwords.words('english'))
import warnings
warnings.filterwarnings('ignore')

print('Completed')

Completed

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/u190314/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
import numpy as np
import pandas as pd

df = pd.read_csv("./training_data.csv",error_bad_lines=False)
df.head()
# df.info()

b'Skipping line 6695: expected 11 fields, saw 12\nSkipping line 10046: expected 11 fields, saw 12\nSkipping line 13398: expected 11 fields, saw 12\nSkipping line 20236: expected 11 fields, saw 12\nSkipping line 51138: expected 11 fields, saw 12\nSkipping line 61414: expected 11 fields, saw 13\nSkipping line 64789: expected 11 fields, saw 12\n'
b'Skipping line 74968: expected 11 fields, saw 12\nSkipping line 81746: expected 11 fields, saw 13\nSkipping line 85129: expected 11 fields, saw 13\nSkipping line 91902: expected 11 fields, saw 12\nSkipping line 98453: expected 11 fields, saw 13\nSkipping line 101850: expected 11 fields, saw 12\n'

,IDLink,Title,Headline,Source,Topic,PublishDate,Facebook,GooglePlus,LinkedIn,SentimentTitle,SentimentHeadline
0,Tr3CMgRv1N,Obama Lays Wreath at Arlington National Cemetery,Obama Lays Wreath at Arlington National Cemete...,USA TODAY,obama,02-04-2002 00:00,-1,-1,-1.0,0.000000,-0.053300
1,Wc81vGp8qZ,A Look at the Health of the Chinese Economy,"Tim Haywood, investment director business-unit...",Bloomberg,economy,20-09-2008 00:00,-1,-1,-1.0,0.208333,-0.156386
2,zNGH03CrZH,Nouriel Roubini: Global Economy Not Back to 2008,"Nouriel Roubini, NYU professor and chairman at...",Bloomberg,economy,28-01-2012 00:00,-1,-1,-1.0,-0.425210,0.139754
3,3sM1H0W8ts,Finland GDP Expands In Q4,Finland's economy expanded marginally in the t...,RTT News,economy,01-03-2015 00:06,-1,-1,-1.0,0.000000,0.026064
4,wUbnxgvqaZ,"Tourism, govt spending buoys Thai economy in J...",Tourism and public spending continued to boost...,The Nation - Thailand&#39;s English news,economy,01-03-2015 00:11,-1,-1,-1.0,0.000000,0.141084

In [4]:

df['SentimentHeadline'] = df['SentimentHeadline'].dropna()

df.shape

(111555, 11)

In [5]:
df.to_csv('file.csv')

In [6]:
df1 = pd.read_csv("./file1.csv")
df1.reset_index(drop=True)
df1.head()
df1.shape

(111555, 11)

In [7]:
import regex as re
import string
from nltk.corpus import stopwords
stemmer = nltk.SnowballStemmer("english")
# from nltk.stem import PorterStemmer
def clean(text):
    text=str(text).lower()
    text=re.sub('\[.*?\}]','',text)
    text=re.sub('https?://\S+|www\.\S+','',text)
    text=re.sub('<.*?>+','',text)
    text=re.sub('[%s]'%re.escape(string.punctuation),'',text)
    text=re.sub('\n','',text)
    text=re.sub('\w*\d\w*','',text)
    text=[word for word in text.split(' ') if word not in stopword]
    text=" ".join(text)
    text=[stemmer.stem(word) for word in text.split(' ')]
    text=" ".join(text)
    return text
df1['Title']=df1['Title'].apply(clean)
df1['Headline']=df1['Headline'].apply(clean)
df1['Source']=df1['Source'].apply(clean)
df1['Topic']=df1['Topic'].apply(clean)


print(df1['Title'])

0                obama lay wreath arlington nation cemeteri
1                                look health chines economi
2                      nouriel roubini global economi back
3                                       finland gdp expand
4              tourism govt spend buoy thai economi januari
                                ...
111550    sander econom plan torn apart former clinton o...
111551    uk antiterror polic question student free pale...
111552       un urg israel end demolit palestinian properti
111553                  new cruz ad link rubio obama immigr
111554    sander econom plan torn apart former clinton o...
Name: Title, Length: 111555, dtype: object

In [8]:
df1.columns

Index(['IDLink', 'Title', 'Headline', 'Source', 'Topic', 'PublishDate',
       'Facebook', 'GooglePlus', 'LinkedIn', 'SentimentTitle',
       'SentimentHeadline'],
      dtype='object')

In [9]:
# print(df1['Topic'])
df1['Topic'].unique()
df1['Topic'].replace(' ',np.nan,inplace = True)
df1.shape

(111555, 11)

In [10]:
df1.dropna(subset = ['Topic'],inplace = True)
df1.shape
df1['Topic'].unique()

array(['obama', 'economi', 'microsoft', 'palestin'], dtype=object)

In [11]:
df1.shape

(111551, 11)

In [12]:
df1['Title'].replace(' ',np.nan,inplace = True)

df1['Title'].unique()
df1.dropna(subset = ['Title'],inplace = True)
df1.shape

(111551, 11)

In [13]:
df1['Headline'].replace(' ',np.nan,inplace = True)

df1['Headline'].unique()
df1.dropna(subset = ['Headline'],inplace = True)
df1.shape

(111548, 11)

In [14]:
df1['Source'].replace(' ',np.nan,inplace = True)

df1['Source'].unique()
df1.dropna(subset = ['Source'],inplace = True)
df1.shape
# Source

(111450, 11)

In [15]:
df1.columns
# df1['']

Index(['IDLink', 'Title', 'Headline', 'Source', 'Topic', 'PublishDate',
       'Facebook', 'GooglePlus', 'LinkedIn', 'SentimentTitle',
       'SentimentHeadline'],
      dtype='object')

In [16]:
df1['SentimentTitle'].unique()

array([ 0.        ,  0.20833333, -0.42521003, ..., -0.03392003,
       -0.16351844,  0.07222659])

In [17]:
df1['SentimentTitle'].isnull().sum()

0

In [18]:
df1['SentimentHeadline'].isnull().sum()

0

In [19]:
df1.head()

,IDLink,Title,Headline,Source,Topic,PublishDate,Facebook,GooglePlus,LinkedIn,SentimentTitle,SentimentHeadline
0,Tr3CMgRv1N,obama lay wreath arlington nation cemeteri,obama lay wreath arlington nation cemeteri pre...,usa today,obama,2/4/2002 0:00,-1,-1,-1.0,0.000000,-0.053300
1,Wc81vGp8qZ,look health chines economi,tim haywood invest director businessunit head ...,bloomberg,economi,20-09-2008 00:00,-1,-1,-1.0,0.208333,-0.156386
2,zNGH03CrZH,nouriel roubini global economi back,nouriel roubini nyu professor chairman roubini...,bloomberg,economi,28-01-2012 00:00,-1,-1,-1.0,-0.425210,0.139754
3,3sM1H0W8ts,finland gdp expand,finland economi expand margin three month end ...,rtt news,economi,1/3/2015 0:06,-1,-1,-1.0,0.000000,0.026064
4,wUbnxgvqaZ,tourism govt spend buoy thai economi januari,tourism public spend continu boost economi jan...,nation english news,economi,1/3/2015 0:11,-1,-1,-1.0,0.000000,0.141084

In [20]:
df1.shape

(111450, 11)

In [21]:
for i in df1.columns:
    # print("isnul")
    print(i,df1[f"{i}"].isnull().sum())
    # print("isna")
    print(i,df1[f"{i}"].isna().sum())
    # print("isnull")
    # print(i,df1[f"{i}"].isnull().sum())

IDLink 0
IDLink 0
Title 0
Title 0
Headline 0
Headline 0
Source 0
Source 0
Topic 0
Topic 0
PublishDate 0
PublishDate 0
Facebook 0
Facebook 0
GooglePlus 0
GooglePlus 0
LinkedIn 0
LinkedIn 0
SentimentTitle 0
SentimentTitle 0
SentimentHeadline 0
SentimentHeadline 0

In [22]:
df1.to_csv('final.csv')